{{yield}}
<table class="table">
  <thead><tr>
    {{#each columnSpecs as |c|}}
      <th class="{{c.headingClassList}}">{{c.title}}</th>
    {{/each}}
  </tr></thead>
  <tbody>
    {{#each content as |obj|}}
      <tr>
        {{#each columnSpecs as |c|}}
          {{#if c.bodyComponent}}
            {{component c.bodyComponent class=c.bodyClassList spec=c value=(get obj c.name)}}
          {{else}}
            <td class="{{c.bodyClassList}}">{{get obj c.name}}</td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
