{{yield (hash
  title=(component 'techno-table-title')
  createAction=(action 'showCreateComponent')
)}}
<table class="table techno-table">
  <thead><tr>
    {{#each columnSpecs as |c|}}
      {{#if c.sortable}}
        <th class="{{c.headingClassList}} sortable-column" {{action 'changeSort' c.name}}>{{c.title}}
        <span
        class='sort-symbol {{if (not-eq c.name sortColumn) 'sorting' sortDirectionClass}}'
        >{{{sortIndicator}}}</span></th>
      {{else}}
        <th class="{{c.headingClassList}}">{{c.title}}</th>
      {{/if}}
    {{/each}}
  </tr></thead>
  <tbody>
    {{#if showCreate}}
      <tr class="create">
        <td colspan="1000">
          <div><a href="" {{action 'closeCreate'}}>&times; Create</a></div>
          {{component createComponent model=newObj objChange=(action 'newObjChanged')}}
        </td>
      </tr>
    {{/if}}
    {{#each content as |obj|}}
      {{techno-table-row obj=obj columnSpecs=columnSpecs editComponent=editComponent}}
    {{/each}}
  </tbody>
</table>
